<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278140333975-u1bfris55s29kg646ip6gr8g4qe7215o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278140333975-u1bfris55s29kg646ip6gr8g4qe7215o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>278140333975-bgj1fkp2d5684f935s4fg7sm6svdqjg4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAi4HhXdp588NStFEXY-AliD_QcCe0ox5I</string>
	<key>GCM_SENDER_ID</key>
	<string>278140333975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selllout.selloutWebLanding</string>
	<key>PROJECT_ID</key>
	<string>selll-out</string>
	<key>STORAGE_BUCKET</key>
	<string>selll-out.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278140333975:ios:9dff72ecf29381bec15ed2</string>
</dict>
</plist>